.list1{
  border: 2px solid ;
  border-radius: 5px;
  width:50%;
  min-width: 300px;
  margin-left:300px;
  
}

.list2{
  padding:15px;
  display: flex;
  justify-content: center;
}

h1{
  display: flex;
  justify-content: center;
}